@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html{
    font-family: "Inter", sans-serif;
    color: #414c5e;
}

ul {
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    margin-top:0px;
    width: 100%;
    overflow: hidden;
    background-color: #e6ecff;
    font-weight: bold;
  }
  
  li {
    margin-left:10px;
    float: left;
  }
  
  li a {
    display: block;
    color: #889cbe;
    text-align: center;
    padding: 30px 15px;
    text-decoration: none;
  }

  li a:hover {
    color: #414c5e;
  }

  a{
    color:#414c5e
  }
  a:hover{
    color:#889cbe;
  }

  .Footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e6ecff;
    color: #889cbe;
    text-align: center;
  }

  button{
    margin:10px;
    border: none;
    color: #889cbe;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border-color: #e6ecff;
    background-color: #e6ecff;
  }
  button:hover{
    color:#414c5e
  }