.FrenTitle{
    margin-top:125px;
}
.FrenSkills{
    margin-top:10px;
}

.FrenImages{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    margin:10px;
}
.FrenText{
    margin-left: 100px;
    margin-right:100px;
}
.FrenText2{
    margin-left: 100px;
    margin-right:100px;
    margin-bottom:100px;
}
.TechnicalImages{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Fren-Heading{
    margin-left:100px;
}