.MaggieIntro{
    position: absolute;
    top: 20%;
    left:16%;
    width: 35%;
    background-color: white;
}

.Maggie{
    position: absolute;
    top:13%;
    right:15%;
    width:35%;
    height:50%;
}
.IntroBox{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-size: 60px;
}
h3{
    font-size:32px;
}
p{
    font-size: 19px;
}

span{
    color:black;
    font-weight: bolder;
    background-color: #e6ecff;
}