html{
    font-family: 'Arial', Arial, Helvetica, sans-serif;
}
.About {
    text-align: center;
    overflow: hidden;
    margin-top: 0;
  }
  
  .About-top {
    box-sizing: content-box;
    background-image: url("resources/bunny-banner.png");
    background-repeat: no-repeat;
    background-size: 1694px, 396px;
    margin-left:-10px;
    width: 1694px;
    height: 396px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .About-headline {
    color: #414c5e;
    text-align: left;
    margin-left: 100px;
    padding: 30px;
    background-color: #E6ECFF;
    border-radius: 25px;
    margin-right: 900px;
  }
  
  .About-subtitle{
    margin-top: 10px;
    font-size: 24px;
    
  }
  
  .About-title{
    margin-top: -30px;
    font-size: 56px;
  }
  
.MaggieIntro-image{
    float: left;
    margin-left: 100px;
    margin-top: -200px;
}
.MaggieIntro-header{
    margin-right: 40px;
    margin-top: 50px;
    text-align: right;
    font-size: 54px;
}
.MaggieIntro-text{
    margin-right: 40px;
    text-align: right;
    font-size: 30px;
}

.MaggieIntro-intro{
    color: #414c5e;
    background-color: #E6ECFF;
    border-radius: 25px;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-left: 700px;
    margin-right: 100px;
}

.Works-In-Progress-Header{
  margin-left: 40px;
  margin-top: 50px;
  text-align: left;
  font-size: 54px;
}

.Works-In-Progress{
  color: #414c5e;
  background-color: #E6ECFF;
  border-radius: 25px;
  padding-bottom: 5px;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
}