.KinevixTitle{
    margin-top:125px;
}
.KinevixSkills{
    margin-top:10px;
}

.KinevixImages{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    margin:10px;
}
.KinevixText{
    margin-left: 100px;
    margin-right:100px;
}
.KinevixText2{
    margin-left: 100px;
    margin-right:100px;
    margin-bottom:100px;
}
.Kinevix-Heading{
    margin-left:100px;
}