.Projects-Intro{
    margin-top:125px;
    margin-left: 100px;
}
.Listings{
    display: flex;
    flex-wrap: wrap;
}

.Steve-Skeleton{
    margin-bottom:200px;
    margin-left:100px;
  box-sizing: border-box;
  width: 292.5px;
  height: 217.5px;
  float:left;
}
.Kinevix{
    margin-bottom:200px;
    margin-left:100px;
  box-sizing: border-box;
  width: 292.5px;
  height: 217.5px;
  float:left;
}
.AllePal{
    margin-bottom:200px;
    margin-left:100px;
  box-sizing: border-box;
  width: 292.5px;
  height: 217.5px;
  float:left;
}
.RoyGBiv{
    margin-left:100px;
    margin-bottom:200px;
    box-sizing: border-box;
    width: 292.5px;
    height: 217.5px;
    float:left;
  }
  .SaltE{
    box-sizing: border-box;
    margin-bottom:200px;
    margin-left:100px;
    width: 292.5px;
    height: 217.5px;
    float:left;
  }
span{
  background-color: #E6ECFF;
}

img{
  box-sizing: border-box;
  border: 5px solid #E6ECFF;
}