.Projects-Intro{
    margin-top:50px;
    margin-left: 100px;
}

.Steve-Skeleton{
  box-sizing: border-box;
  margin-left: 100px;
  width: 292.5px;
  height: 217.5px;
  float:left;
}
.Kinevix{
  box-sizing: border-box;
  margin-left: 100px;
  width: 292.5px;
  height: 217.5px;
  float:left;
}
.AllePal{
  box-sizing: border-box;
  margin-left: 100px;
  width: 292.5px;
  height: 217.5px;
  float:left;
}
span{
  background-color: #E6ECFF;
}

img{
  box-sizing: border-box;
  border: 5px solid #E6ECFF;
}