.RoyTitle{
    margin-top:125px;
}
.RoySkills{
    margin-top:10px;
}
.Roy-Heading{
    margin-left: 100px;
}

.RoyStartingImages{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    margin:10px;
}
.RoyText{
    margin-left: 100px;
    margin-right:100px;
}
.RoyText2{
    margin-left: 100px;
    margin-right:100px;
    margin-bottom:100px;
}
.AutocadAndParts{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}