.StitchLoopTitle{
    margin-top:125px;
}
.StitchLoopSkills{
    margin-top:10px;
}

.StitchLoopImages{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    margin:10px;
}
.StitchLoopText{
    margin-left: 100px;
    margin-right:100px;
}
.StitchLoopText2{
    margin-left: 100px;
    margin-right:100px;
    margin-bottom:100px;
}
.TechnicalImages{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.StitchLoop-Heading{
    margin-left:100px;
}